.head_container {
    background-color: #082029;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-grow: 0;
    flex-shrink: 0;
}

header button {
    cursor: pointer;
}