

main {
    background-color: #05171e;
    flex-grow: 1;
}

.main_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pkm_cards {
    padding: 32px 72px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 24px;

}

.pkm_cad_prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    background-color: #082029;
    width: 150px;
    height: auto;
    box-shadow: 0px 0px 5px #484747;
    border-radius: 12px;
}

.pkm_cad_prev:hover {
    background-color: #144a5e;
    box-shadow: 0px 0px 10px #484747;
    cursor: pointer;
    transform: scale(1.1);

}

.seperator {
    height: 1px;
    width: 90%;
    background-color: whitesmoke;;
}

.seperator_grey {
    height: 2px;
    width: 90%;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
}

.pkm_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.pkm_pic {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.pkm_pic img {
    height: 120px;
    width: 120px;
}

.pkm_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
}

.pkm_footer img {
    height: 28px;
    padding: 8px;
    box-shadow: 0px 0px 2px #8b8a8f;
    border: none;
    border-radius: 20px;
    padding: 0;
}

#morePkm {
    cursor: pointer;
    box-shadow: 0px 0px 5px #484747;
    border-radius: 8px;
    background-color: orange;
    font-weight: 600;
    font-size: 20px;
    color: whitesmoke;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
    margin-bottom: 64px;
}

#loadingScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: none;
}

#loadingBall {
  width: 64px;
  height: 64px;
  animation: rotateBall 1s linear infinite;
}

@keyframes rotateBall {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blur {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}

#morePkm:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* das hier kann später weg*/
#bigCard {
  margin-bottom: 60px;
  border-radius: 20px;
  background-color: #0d3341;
  height: 600px;
  width: 400px;
}

.poke_content {
  border-radius: 20px;
  color: whitesmoke;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background-color: #144f64;
  padding: 0;
}

.pokemonHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8px;
  font-size: 20px;
}

#close {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 8px;
  margin-right: 60px;
}

.closeBtn {
  border-radius: 5px;
  background-color: orange;
  padding: 2px 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.pokemon_img img {
  height: 400px;
}

.pokemon_types {
  display: flex;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.pokemon_types img {
  height: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  
}

.modalSection {
  padding-top: 8px;
  padding-bottom: 8px;
}

.stats {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  border-radius: 20px;
  padding-left: 12px;
  padding-bottom: 12px;
  margin: 0;
  font-size: 18px;
}

#species {
  padding-top: 2px;
  padding-bottom: 2px;
}

#bodyStats {
  padding-top: 2px;
  padding-bottom: 2px;;
}

#abilities {
  padding-top: 2px;
  padding-bottom: 2px;
}