main {
    background-color: #05171e;
    flex-grow: 1;
}

.main_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pkm_cards {
    padding: 32px 72px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 24px;

}

.pkm_cad_prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    background-color: #082029;
    width: 150px;
    height: auto;
    box-shadow: 0px 0px 5px #484747;
    border-radius: 12px;
}

.pkm_cad_prev:hover {
    background-color: #144a5e;
    box-shadow: 0px 0px 10px #484747;
    cursor: pointer;
    transform: scale(1.1);

}

.seperator {
    height: 1px;
    width: 90%;
    background-color: whitesmoke;;
}

.seperator_grey {
    height: 2px;
    width: 90%;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
}

.pkm_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.pkm_pic {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.pkm_pic img {
    height: 120px;
    width: 120px;
}

.pkm_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
}

.pkm_footer img {
    height: 28px;
    padding: 8px;
    box-shadow: 0px 0px 2px #8b8a8f;
    border: none;
    border-radius: 20px;
    padding: 0;
}

#morePkm {
    cursor: pointer;
    box-shadow: 0px 0px 5px #484747;
    border-radius: 8px;
    background-color: orange;
    font-weight: 600;
    font-size: 20px;
    color: whitesmoke;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
    margin-bottom: 64px;
}

#morePkm:hover {
  background-color: rgb(255, 136, 0);
  box-shadow: 0px 0px 10px #484747;
}

#loadingScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: none;
}

#loadingBall {
  width: 64px;
  height: 64px;
  animation: rotateBall 1s linear infinite;
}

@keyframes rotateBall {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blur {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}

#morePkm:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

#bigCard {
  border-radius: 20px;
  background-color: #0d3341;
  width: 500px;
  max-height: 95vh;
  height: auto;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 0;
  margin: 0;
}

.poke_nav_left,
.poke_nav_right {
  cursor: pointer;
  padding: 10px;
}

.poke_nav_left img {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 16px;
}

.poke_nav_right img {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-right: 16px;
}

.poke_content {
  border-radius: 20px;
  color: whitesmoke;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background-color: #00465f;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 100%px;
  width: 400px;
}

.pokemonHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8px;
  font-size: 20px;
}

#close {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 12px;
  margin-right: 60px;
}

.closeBtn {
  border-radius: 5px;
  background-color: orange;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.pokemon_img {
  border-radius: 20px;
}

.pokemon_img img {
  height: 300px;
}

.pokemon_types {
  display: flex;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.pokemon_types img {
  height: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  
}

.modalSection {
  padding-top: 8px;
  padding-bottom: 8px;
}

.stats {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  border-radius: 20px;
  padding-left: 12px;
  padding-bottom: 12px;
  margin: 0;
  font-size: 18px;
}

#species {
  padding-top: 2px;
  padding-bottom: 2px;
}

#bodyStats {
  padding-top: 2px;
  padding-bottom: 2px;;
}

#abilities {
  padding-top: 2px;
  padding-bottom: 2px;
}

.hidden {
  display: none !important;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d3341;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  width: 700px;
  height: 850px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


#blurOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.stat_row {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.stat_name {
  font-weight: bold;
}

.stat_value {
  color: #00465f;
}

.data_buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

#base_button{
  border: none;
  border-radius: 5px;
  background-color: orange;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: whitesmoke;
  margin-bottom: 8px;
  margin-top: 8px;
}

#stats_button {
  border: none;
  border-radius: 5px;
  background-color: orange;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: whitesmoke;
  margin-bottom: 8px;
  margin-top: 8px;
}

#baseStats {
  margin-right: 16px;
}

.back_button {
  border-radius: 5px;
  background-color: orange;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: whitesmoke;
}

.back_button:hover {
  background-color: rgb(255, 136, 0);
  box-shadow: 0px 0px 10px #484747;
}
