@media(max-width: 800px) {
.title {
        font-size: 24px;
    }

.title img {
        height: 64px;
    }

#inputSearch {
        padding-left: 16px;
        font-weight: 600;
        font-size: 20px;
        width: 200px;
    }

header button {
        font-size: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(max-width: 550px) {
    .title {
        font-size: 20px;
    }

    .title img {
        height: 40px;
    }

    #inputSearch {
        padding-left: 4px;
        font-weight: 400;
        font-size: 16px;
        width: 140px;
    }

    header button {
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
    }

     #bigCard {
        width: 380px;
        height: 770px;
    }

    .pokemon_img img {
        height: 200px;
    }
}

@media(max-width: 465px) {
    .head_container {
        gap: 12px;
    }
    
    .searchbar {
        display: flex;
        flex-direction: column;
    }
    
    .footer_content {
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .footer_txt {
        font-size: 16px;
    }

    .footer_img img {
        height: 64px;
        width: 64px;
    }

    #bigCard {
        width: 280px;
        height: auto;
    }

    #bigCard h2 {
        font-size: 24px;
    }

    .pokemon_img img {
        height: 180px;
    }

    #base_button{
        padding: 2px 8px;
        font-size: 16px;
    }


    #stats_button{
        padding: 2px 8px;
        font-size: 16px;
    }
}