body {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}

.head_container {
    background-color: #082029;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-grow: 0;
    flex-shrink: 0;
}

header button {
    cursor: pointer;
}

main {
    background-color: #05171e;
    flex-grow: 1;
}

.pkm_cards {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 96px;
    padding-right: 96px;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
}

.pkm_cad_prev {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: #082029;
    width: 150px;
    height: auto;
    box-shadow: 0px 0px 5px #484747;
    border-radius: 12px;
}

.pkm_header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.pkm_pic {
    padding: 8px;
}

.pkm_footer {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.footer {
    background-color: #082029;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-grow: 0;
    flex-shrink: 0;
}